/* colors */
$white: #ffffff;
$black: #000000;
$lightblue: #89bdd3;
$offwhite: #e3e3e3;
$darkgrey: #4c4c4c;

/* fonts */
$blocky: Arial, Helvetica, sans-serif;
$cursive: 'Nothing You Could Do', cursive;
