.home-category-page {
    margin: 100px 0px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); 
    text-align: center;
    font-family: 'Nothing You Could Do', cursive;    
}

.home-category-page:hover {
    filter: none;
    -webkit-filter: none;
}

.home-category-page:hover .home-category-page-image-container{
    transform: scale(1.1, 1.1);
    transition: transform 1s;
}

.home-category-page span {
    margin: 15px 0px;
    font-size: 23px;
    font-weight: bold;    
}

.home-category-page-image-container {
    width: 125px;
    height: 125px;
    margin: 35px auto;
    border-radius: 50%;
    box-shadow: 0px 2px 25px -4px #000000;   
}


@media screen and (min-width: 765px) {

    .home-category-page {
        display: inline-block;
        width: 25%;
        text-align: center;
    }
    
}

@media screen and (min-width: 1200px) {
    
    .home-category-page-image-container {
        width: 225px;
        height: 225px;
    }
    
}

