
h1 {
    font-size: 2em;
}


#projects {
    text-align: center;
}

section h1 {
    font-family: 'Nothing You Could Do', cursive;
    margin-bottom: 0px;
}

.project {
    position: relative;    
    height: 100vh;
    top: 100vh;    
    padding: 25px 0px;
    background-size: cover;
}

.project {
    transition:all 2s ease;
}

.next {
    display: inline-block;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    margin: auto;
    position: relative;
    margin-top: 80vh;
    cursor: pointer;
}

.next:first-of-type {
    margin-top: 30vh;
}

a.next-article:last-child {

}




@media screen and (min-width: 765px) {
    
}

/*
.project {
    margin: 20px auto;
    width: 80%;
    padding: 15px;
    border-radius: 20px;    
    background-color: #9ad3de;
    color: #4c4c4c;
    text-align: left;
    box-shadow: 0px 0px 10px #2d2d2d;
}

.project .item-title {
    width: 100%;
    text-transform: none;
    font-weight: bold;
}

.project img {
    height: auto;
}

.portfolio-image-container {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 20px;
}

section h1 {
    font-family: 'Nothing You Could Do', cursive;
    margin-bottom: 0px;
}

.styled-separator {
    background-position-x: left;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

.section-title {
    text-align: left;
}

.styled-separator {
    background-image: url(images/sep2.png);
    display: inline-block;
    background-position-x: 20px;
    background-position-y: -10px;
}

@media screen and (min-width: 765px) {
    .project {
        display: inline-block;
        width: 38%;
        margin: 18px;
    }
    
    .site-wrapper {
        padding: 0px;
    }
}

@media screen and (min-width: 1350px) {
    .project {
        width: 25%;
        margin: 30px;
    }   
}
*/
