
h1 {
    font-size: 2em;
}


#projects {
    text-align: center;
}

section h1 {
    font-family: 'Nothing You Could Do', cursive;
    margin-bottom: 0px;
}

.content {
    text-transform: none;
    text-align: left;
    margin: 65px 0px;
}

.project {
    position: relative;    
    min-height: 100vh;
    padding: 25px;
    background-size: cover;
}

.project:first-of-type {
    margin-top: 50vh;    
}

.project {
    transition:all 2s ease;
}

.next {
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.5em solid #ffffff;
    border-radius: 50%;
    position: relative;
    margin-top: 15vh;
    cursor: pointer;
    z-index: 15;
}

.next:after {
    content: '';
    display: inline-block;
    margin-top: 0.6em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.5em solid #ffffff;
    border-right: 0.5em solid #ffffff;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.next-first {
    margin-top: 25vh;
}

.next-last:after {
    margin-top: 1.4em;    
    border-top: 0.5em solid #ffffff;
    border-right: 0.5em solid #ffffff;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.next:hover{
    border-color: #89bdd3;
    box-shadow: 0px 0px 5px #58b3da;
}
.next:hover:after {
    border-color: #89bdd3;
}